/* Color Pallet? */
/*Ethereal Ivory #E4E4DE*/
/*Sophisticated Sage #C4C5BA*/
/*Eerie Black #1B1B1B*/
/*Muted Moss #595f39*/

/*--- HTML ---*/
html, body {
    min-height: 100vh;
    margin: 0;
}

/*--- Headers ---*/
.explored-header {
    color: #EAD7B7;
}

.stats-header {
    color: #EAD7B7;
    text-align: center;
}

hr {
    border-width: 5px;
}

/*--- Body ---*/
body {
    background-color: #595f39;
    /* OR if using an image: */
    /* background-image: url('/images/bg.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

/*--- Main Inside Body ---*/
main {
    flex: 1;
}

/*--- NavBar ---*/
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
    height: 100px;
}

.navbar-logo {
    max-height: 100px;
    width: auto;
}

.navbar-nav .nav-link {
    font-size: 1.5rem;   /* bigger text */
    padding: 10px 15px;  /* more clickable space */
}

/*--- Form Items ---*/
.form-border {
    border: none;
    background-color: #EAD7B7;   /* classic earthy brown */
    padding: 25px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

/*--- Card List ---*/
.ul-card {
    list-style-type: none;
    margin: 20px;
}

.d-none {
    display: none !important;
}

/*--- Footer ---*/
footer {
    background-color: #222;
    color: white;
    padding: 20px;
    margin-top: 40px;
    flex-shrink: 0;
}

.footer-img {
    width: 30px;
    margin: 0 10px;
}

.footer-logo {
    width: 250px;
    margin: 0 10px;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom a {
    color: white;
}

.footer-bottom a:hover {
    color: #777;
}
footer a {
    text-decoration: none;
}
