html, body {
    min-height: 100%;
    margin: 0;
}

body {
    background-color: blueviolet; /* or your color */
    /* OR if using an image: */
    /* background-image: url('/images/bg.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    background-color: grey;
}

.ul-card {
    list-style-type: none;
    margin: 20px;
}