<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Template</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- Navbar -->
<nav>
    <a href="/">Home</a>
    <a href="/trails">Trails</a>
    <a href="/add">Add</a>
    <a href="/stats">Stats</a>
</nav>

<!-- Page content -->
<div>
    <h1 th:text="${title}"></h1>
    <p th:text="${message}"></p>
</div>

<!-- Footer -->
<footer>
    <p>This is Changes I made</p>
</footer>
<script src="/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js"></script>
</body>
</html>